<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!---    <bean id="alien" class="com.Monish.Alien" scope="prototype"> </bean>  -->
    <bean id="alien" class="com.Monish.Alien" autowire="byName">
        <property name="age" value="21"></property>
        <property name="com" ref="lap1"></property>
        <!--<constructor-arg value="21"></constructor-arg>
        <constructor-arg ref="lap1"></constructor-arg>-->

    </bean>
    <bean id="lap1" class="com.Monish.Laptop" primary="true"></bean>
    <bean id="com" class="com.Monish.Desktop" lazy-init="true"></bean>
</beans>